<h1>Show Page - <%= @challenge.title %></h1>
<p>Author: <%= @challenge.user.username %></p>

<%= @challenge.language.name %>
<p><%= @challenge.description %></p>
<%= image_tag("#{@challenge.gist}") %>

<%= link_to 'Solutions', challenge_solutions_path(@challenge) %>
<%= link_to 'Edit', edit_challenge_path(@challenge) %>
<%= link_to 'Delete', challenge_path(@challenge), method: 'delete' %>
<%= link_to 'Back', :back %>

