<h1>Show Page - <%= @challenge.title %></h1>

<%= @challenge.language.name %>
<p><%= @challenge.description %></p>
<%= image_tag("#{@challenge.gist}") %>

<%= link_to 'Edit', edit_challenge_path(@challenge) %>
<%= link_to 'Delete', challenge_path(@challenge), method: 'delete' %>
<%= link_to 'Back', :back %>
<%= link_to 'Home', root_path %>
