
<h3>Challenge Title: <%= solution.challenge.title %></h3>
<p>Challenge Description: <%= solution.challenge.description %></p>
<p>Challenge Language: <%= solution.challenge.language.name %></p>
<p>Solution Language: <%= solution.language.name %></p>

<%= image_tag(solution.gist) %>


