<h1>Edit Solution Page</h1>

<%= form_for([@challenge, @solution]) do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description, value: @solution.description %>

  <%= f.label :gist %>
  <%= f.text_field :gist, value: @solution.gist %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', :back %>
