<h1>Solutions Index</h1>

<h3>Challenge Title: <%= link_to "#{@challenge.title}", challenge_path(@challenge) %></h3>
<p>Challenge Description: <%= @challenge.description %></p>
<p>Challenge Language: <%= @challenge.language.name %></p>

<h3><%= link_to 'Create New Challenge Solution', new_challenge_solution_path %></h3>
<%= link_to 'Back to Challenge', challenge_path(@challenge) %>

<%= render @solutions %>
