
<h1>Solution Page</h1>
<h3>Challenge: <%= link_to "#{@solution.challenge.title}", challenge_path(@solution.challenge) %></h3>
<p><%= @solution.challenge.description %></p>
<p>Challenge Language: <%= @solution.challenge.language.name %></p>
<p>Solution Language: <%= @solution.language.name %></p>

<h3>Solution</h3>
<p><%= @solution.description %></p>

<%= image_tag(@solution.gist) if @solution.gist %>

<%= link_to 'Back to Solutions', challenge_solutions_path(@solution.challenge) %>
<%= link_to 'Edit', edit_challenge_solution_path(challenge_id: @solution.challenge_id, id: @solution.id) %>
<%= link_to 'Delete', challenge_solution_path(challenge_id: @solution.challenge_id, id: @solution.id), method: 'delete' %>
