
<h3><%= @solution.challenge.title %></h3>
<p><%= @solution.challenge.description %></p>
<p>Challenge Language: <%= @solution.challenge.language %></p>
<p>Solution Language: <%= @solution.language %></p>

<%= image_tag(@solution.gist) %>
